dataset/
.vscode/
artifacts/
output/
unittests/
tests/
wandb/
__pycache__/
exports/
backup/
exports/
test/
draft/
*.egg-info/
debug/
run/
best_models/
.ruff_cache/

draft.ipynb
nohup.out
debug.ipynb
*.pt
mount_drive.sh